            /* 공통 스타일 */
            * {
                box-sizing: border-box;
            }
            body {
                margin: 0;
                display: flex;
            }
            .sidebar {
                width: 220px;
                padding: 20px;
            }
            /* 사이트 타이틀 */
            .site-title {
            margin: 0 0 20px 0; /* 아래쪽 여백으로 메뉴와 간격 */
            font-size: 1.5rem;
            font-weight: bold;
            }
            .site-title a {
            text-decoration: none; /* 밑줄 제거 */
            color: #000;
            }
            /* 메뉴 스타일 */
            nav a {
            text-decoration: none;
            color: #000;
            }
            nav a:hover {
                font-weight: bold;
            }